{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block greetings %}
    <h1 class="display-1" style="text-align:center; color:green;">List of students</h1>
{% endblock %}

{% block main %}
    <div class="container-xxl">
        <div class="p3 m3">
            <form method='get'>
                {{ filter.form|crispy }}

                <input class="btn btn-outline-secondary btn-lg mt-2" type="submit" value="Submit">
                <a class="btn btn-success btn-lg mt-2" href="{% url 'create'  %}" role="button">Create</a>
            </form>
        </div>




            {% include 'includes/students-table.html' %}
            {% include 'includes/paginator.html' %}
    </div>
{% endblock %}
