{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block greetings %}
    <h1 class="display-1"  style="text-align:center; color:red;">Create student</h1>
{% endblock %}

{% block main %}

    <div class="container-xxl">



            <form method='post' class="form-control bg-light" style="margin-top:30px;">
                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" class="btn btn-primary btn-lg" style="margin-top:10px">Create</button>

            </form>

    </div>
{% endblock %}
