{% extends 'base.html' %}

{% block greetings %}
    <h1 class="display-1"  style="text-align:center; color:red;">Delete student</h1>
{% endblock %}

{% block main %}
    <div class="container-xxl" style="text-align: center">

        <h3> Do you really want to delete {{student.first_name}} {{student.last_name}} ? </h3>
           {{form.as_p}}

        <form method="post">
            {% csrf_token %}
            <input type="submit" value="delete"><a href="{% url 'list' %}"><input type="button" value="cancel"></a>
        </form>

    </div>
{% endblock %}
