        <table class="table table-success table-striped" style="text-align:center; margin-top: 30px;">
              <tr>
                <th>first name</th>
                <th>last name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Phone number</th>
                <th>Group</th>
                <th>✎</th>
                <th>🗑</th>
              </tr>

                {% for teacher in teachers %}

                      <tr>
                        <td>{{ teacher.first_name }}</td>
                        <td>{{ teacher.last_name }}</td>
                        <td>{{ teacher.email_field }}</td>
                        <td>{{ teacher.age }}</td>
                        <td>{{ teacher.phone_number }}</td>
                        <td>{{ teacher.group }}</td>
                        <td><a class="btn btn-outline-primary btn-sm" href='{% url "update_teachers" teacher.id %}' role="button">UPDATE</a></td>
                        <td><a class="btn btn-outline-danger btn-sm"  href='{% url "delete_teacher" teacher.id %}' role="button">DELETE</a></td>
                      </tr>
                {% endfor %}

            </table>