{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block greetings %}
    <h1 class="display-1" style="text-align:center; color:green;">List of groups</h1>
{% endblock %}

{% block main %}
    <div class="container-xxl">
        <form method='get'>
                {{ filter.form|crispy }}

                <input class="btn btn-outline-secondary btn-lg" type="submit" value="Submit">
                <a class="btn btn-success btn-lg" href="{% url 'create_group'  %}" role="button">Create</a>
        </form>

        <table class="table table-success table-striped" style="text-align:center; margin-top: 30px;">
              <tr>
                <th>Group name</th>
                <th>Course name</th>
                <th>Teacher</th>
                <th>Headman</th>
                <th>Classroom</th>
                <th>✎</th>
                <th>🗑</th>
              </tr>

                {% for group in groups %}

                      <tr>
                        <td>{{ group.name }}</td>
                        <td>{{ group.course_group }}</td>
                        <td>{{ group.group_teacher.first }}</td>
                        <td>{{ group.headman.last_name }}</td>
                        <td>{{ group.classrooms.first }}</td>
                        <td><a class="btn btn-outline-primary btn-sm" href='{% url "update_group" group.id %}' role="button">UPDATE</a></td>
                        <td><a class="btn btn-outline-danger btn-sm" href='{% url "delete_group" group.id %}' role="button">DELETE</a></td>
                      </tr>
                {% endfor %}

            </table>
            {% include 'includes/paginator.html' %}

    </div>
{% endblock %}