{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block greetings %}
    <h1 class="display-1" style="text-align:center; color:green;">List of courses</h1>
{% endblock %}

{% block main %}
    <div class="container-xxl">
        <form method='get'>
                {{ filter.form|crispy }}

                <input class="btn btn-outline-secondary btn-lg" type="submit" value="Submit">
                <a class="btn btn-success btn-lg" href="{% url 'create_course'  %}" role="button">Create</a>
        </form>

        <table class="table table-success table-striped" style="text-align:center; margin-top: 30px;">
              <tr>
                <th>Course name</th>
                <th>Teacher</th>
                <th>Group</th>
                <th>✎</th>
                <th>🗑</th>
              </tr>

                {% for course in filter.qs %}

                      <tr>
                        <td>{{ course.name }}</td>
                        <td>{{ course.teacher.first }}</td>
                        <td>{{ course.group }}</td>
                        <td><a class="btn btn-outline-primary btn-sm" href='{% url "update_course" course.id %}' role="button">UPDATE</a></td>
                        <td><a class="btn btn-outline-danger btn-sm" href='{% url "delete_course" course.id %}' role="button">DELETE</a></td>
                      </tr>
                {% endfor %}

            </table>
    </div>
{% endblock %}