{% extends 'base.html' %}

{% block greetings %}
    <h1 class="display-1" style="text-align:center; color:blue;">Update teacher</h1>
{% endblock %}

{% block main %}
     <div class="container-xxl">
{% load crispy_forms_tags %}
            <form method='post' style="margin-top:30px">
                {% csrf_token %}
               <table>{{ form|crispy}}</table>

                <button type="submit" class="btn btn-primary btn-lg" style="margin-top:20px">Update</button>
           </form>
     </div>
{% endblock %}
