{% extends 'base.html' %}

{% block greetings %}
    <h1 class="display-1" style="text-align:center; color:red;">Delete teacher</h1>
{% endblock %}

{% block main %}

    <div class="container-xxl" style="text-align: center">

        <h3> Do you really want to delete {{teacher.first_name }} {{teacher.last_name }}? </h3>

        <form method="post">
            {% csrf_token %}
            <input type="submit" value="delete"><a href="{% url 'list_teachers' %}"><input type="button" value="cancel"></a>
        </form>
    </div>
{% endblock %}
