<table class="table table-success table-striped" style="text-align:center; margin-top: 30px;">
          <tr>
            <th>#</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Group</th>
            <th>Head of the group</th>
            <th>✎</th>
            <th>🗑</th>
          </tr>
            {% for student in students %}
                  <tr>

                    <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.email_field }}</td>
                    <td>{{ student.age }}</td>
                    <td>{{ student.group.name }}</td>
                    <td>{{ student.headed_group }}</td>
                    <td><a class="btn btn-outline-primary btn-sm" href='{% url "update" student.id %}' role="button">UPDATE</a></td>
                    <td><a class="btn btn-outline-danger btn-sm" href='{% url "delete" student.id %}' role="button">DELETE</a></td>
                  </tr>
            {% endfor %}
</table>
