{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block greetings %}
    <h1 class="display-1" style="text-align:center; color:green;">List of classrooms</h1>
{% endblock %}

{% block main %}
    <div class="container-xxl">
        <form method='get'>
                {{ filter.form|crispy }}

                <input class="btn btn-outline-secondary btn-lg" type="submit" value="Submit">
                <a class="btn btn-success btn-lg" href="{% url 'create_classroom'  %}" role="button">Create</a>
        </form>

        <table class="table table-success table-striped" style="text-align:center; margin-top: 30px;">
              <tr>
                <th>Classroom number</th>
                <th>Group</th>
                <th>✎</th>
                <th>🗑</th>
              </tr>

                {% for classroom in filter.qs %}

                      <tr>
                        <td>{{ classroom.number }}</td>
                        <td>{{ classroom.groups.all }}</td>
                        <td><a class="btn btn-outline-primary btn-sm" href='{% url "update_classrooms" classroom.id %}' role="button">UPDATE</a></td>
                        <td><a class="btn btn-outline-danger btn-sm" href='{% url "delete_classrooms" classroom.id %}' role="button">DELETE</a></td>
                      </tr>
                {% endfor %}

            </table>
    </div>
{% endblock %}